.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input-search {
  border: none;
  padding: 10px;
  border-radius: 25px;
  width: 350px;
  text-align: center;
  box-shadow: 0 0px 20px rgba(255, 255, 255, 0.74);
  background-repeat: no-repeat;
  background-position: left center;
  background-origin: content-box;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.input-search:placeholder-shown {
  background-image: url(searchIcon.svg);
}

.input-search:hover {
  top: -5px;
}

.input-submit {
  margin-top: 30px;
  border: none;
  padding: 5px;
  border-radius: 25px;
  width: 150px;
  text-align: center;
  box-shadow: 0 0px 20px rgba(255, 255, 255, 0.74);
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.input-submit:hover {
  top: -5px;
}

.asset-row {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: auto;
}

.asset-container-box {
  display: inline-block;
  justify-content: center;
  margin-left: 15px;
  margin-right: 15px;
}

.header-flex-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

*:focus {
  outline: none;
}

h1 {
  font-family: 'VTF Mixo';
  font-size: 90px;
  letter-spacing: 0.1em;
  font-weight: normal;
}

.button-address {
  margin-top: 20px;
  border: none;
  padding: 12px;
  border-radius: 25px;
  width: 400px;
  text-align: center;
  box-shadow: 0 0px 20px rgba(255, 255, 255, 0.74);
  background: white;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.button-address:hover {
  top: -5px;
}
